@model Asr.Models.SlotStaffViewModel

@{
    ViewData["Title"] = "Available Slots";
}

<h1>Available Slots</h1>
<form asp-controller="Student" asp-action="Index" method="get">
    <div class="form-group">
        <table>


            <tr>
                <th>
                    @Html.DropDownListFor(e => e.StaffId, Model.StaffId as IEnumerable<SelectListItem>)
                </th>
                <th>
                    <input asp-for="DateStart" class="form-control" />
                </th>
                <th>
                    <input type="submit" value="Search" />
                </th>

            </tr>

        </table>

    </div>


</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slots[0].RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots[0].StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots[0].StudentID)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Slots)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @if (item.StudentID != null)
                    {
                        <a asp-action="CancelSlot" asp-route-id="@item.RoomID" asp-route-datetime="@item.StartTime">Cancel a Booking</a>
                    }
                    else if (Model.DaysBookedForStudent.Count(x => x == item.StartTime.Date) >= 1)
                    {
                        <span>You cannot book again on this day.</span>
                    }
                    else
                    {
                        <a asp-action="BookSlot" asp-route-id="@item.RoomID" asp-route-datetime="@item.StartTime">Book a slot</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

