@model IEnumerable<Asr.Models.Slot>

@{
    ViewData["Title"] = "Available Slots";
}

<h1>Available Slots</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th> @Html.DisplayNameFor(model => model.StaffID) </th>
            <th> @Html.DisplayNameFor(model => model.StudentID) </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                <a asp-action="BookSlot" asp-route-id="@item.RoomID" asp-route-datetime="@item.StartTime" >Book a slot</a> |
                <a asp-action="CancelSlot" asp-route-id="@item.RoomID" asp-route-datetime="@item.StartTime">Cancel a Booking</a> |
            </td>
        </tr>
}
    </tbody>
</table>
